<h1><%= @recommand_item.title %></h1>
<p>์์ฑ์: <strong><%= @recommand_item.user&.name.presence || '์ต๋ช' %></strong></p>
<p>โค๏ธ <%= @recommand_item.likes_count %> ยท ๐ฌ <%= @recommand_item.comments_count %></p>
<p>
  <% if user_signed_in? %>
    <% if current_user.liked?(@recommand_item) %>
      <%= button_to '์ข์์ ์ทจ์', recommand_item_like_path(@recommand_item), method: :delete %>
    <% else %>
      <%= button_to '์ข์์', recommand_item_like_path(@recommand_item), method: :post %>
    <% end %>
  <% else %>
    <%= button_to '์ข์์', recommand_item_like_path(@recommand_item), method: :post, form: { data: { turbo_confirm: '๋ก๊ทธ์ธ์ด ํ์ํฉ๋๋ค. ๋ก๊ทธ์ธํ์๊ฒ์ต๋๊น?', turbo: false } } %>
  <% end %>
</p>
<h2><%= link_to '๋ฐ๋ก๊ตฌ๋งค', @recommand_item.link, target: "_blank", rel: "noopener" %></h2>


<h2>๋๊ธ</h2>

<%= render "comments/form", commentable: @recommand_item, comment: Comment.new %>
<ul id="comments">
  <%= render @recommand_item.comments %>
</ul>
