<h1>리뷰 보기</h1>
<h2><%= @review.title %></h2>
<p>작성자: <strong><%= @review.user&.name.presence || '익명' %></strong></p>
<div>
  <%= @review.body %>
  <%# If using ActionText, consider rendering rich text properly %>
</div>


<h2>댓글</h2>

<%= render "comments/form", commentable: @review, comment: Comment.new %>
<ul id="comments">
  <%= render @review.comments %>
</ul>
